  <section class="content px-2" style="margin-left: 15px; margin-right: 15px; padding-top: 20px">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="text-right">
          <p-button
            label="Tạo"
            routerLink="create"
          >
          </p-button>
        </div>
      </ng-template>
      <div class="card-header">
        <div class="card mb-0 mt-2">
          <div class="card-body">
            <form class="form-horizontal">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row mb-0">
                    <div class="col pt-2">
                      <!-- <select
                        class="form-control"
                        [(ngModel)]="storageCode"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="getDataPage(1)"
                        aria-label="Default select example"
                      >
                        <option value="0" selected>Kho</option>
                        <option
                          *ngFor="
                            let storage of getStorage.items;
                            let i = index
                          "
                          value="{{ storage.storageCode }}"
                        >
                          {{ storage.storageName }}
                        </option>
                      </select> -->
                      <p-dropdown [style]="{'width':'100%' }" 
                      placeholder="Chi nhánh"
                      optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"></p-dropdown>
                    </div>
                    <div class="col pt-2">
                      <input type="text"
                            placeholder="Ngày/tháng/năm"
                            class="form-control"
                            style="height: 49px;"
                            bsDaterangepicker
                            [bsConfig]="{ isAnimated: true }"
                            [(ngModel)]="bsInlineRangeValue"
                            [ngModelOptions]="{ standalone: true }"
                          />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="margin-top: 15px">
          
        </div>
      </div>
      <div class="card-footer table-card-footer bg-light border-top">
        <div class="row">
          <div class="col-sm-3 col-12 text-sm-left text-center">
            <button class="btn btn-secondary">
              <i class="fas fa-redo-alt"></i>
            </button>
          </div>
          <!-- <div class="col-sm-4 col-12 text-center">
            <p class="mb-0 my-2">
              {{ "TotalRecordsCount" | localize : totalItems }}
            </p>
          </div> -->
          <div class="col-sm-5 col-12">
            <div class="float-sm-right m-auto">
              <p-paginator
                [first]="first"
                [rows]="rows"
                [totalRecords]="totalItems"
                [rowsPerPageOptions]="[6, 10, 15]"
              ></p-paginator>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </section>
