<div class="row" style="height: 100%; margin-top: 3.5%;">
    <div class="leftpanel col-4">
        <div class="row">
            <div class="col-10" style="padding-right: 0px;">
                <div class="header_icon">
                    <span style="bottom: 1px;">Nhóm</span>
                </div>
            </div>
            <div class="headerspeed col-2">
                <p-button (onClick)="OpenCreateDialog()">
                    <i class="pi pi-plus"></i>
                </p-button>
            </div>
            <hr style="margin: 0px; background-color: black;">
        </div>
        <div class="teamrow row">
            <div class="col-sm-2">
                <div class="letterblock">N</div>
                <!-- <img src="" alt=""> -->
            </div>
            <div class="col-sm-8" style="margin-top: 20px;">
                <span style="margin-top: 15px;">Nhóm 1</span>
            </div>
        </div>
    </div>
    <div class="rightpanel col-8">

    </div>
</div>
<app-create-teams [visible]="isDialogVisible" (visibleChange)="isDialogVisibleChange($event)"></app-create-teams>
