<p-panel header="Quản lý người dùng" [style]="{'margin-bottom': '15px'}">
    <p-splitButton label="Save" icon="pi pi-plus" (onClick)="openSaveModel()" [model]="items"></p-splitButton>
</p-panel>
<p-table [value]="datas" [(selection)]="selectedData" dataKey="code" [paginator]="true" [rows]="5" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="min-width:200px">Picture</th>
            <th style="min-width:200px">Id</th>
            <th style="min-width:200px">Email</th>
            <th style="min-width:200px">Username</th>
            <th style="min-width:200px">Role</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>
                <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>
            <img [src]="'https://localhost7279:/api/file/GetImage?fileName=' + data.userProfile" width="100" class="shadow-4" />
            <td>{{data.userId}}</td>
            <td>{{data.email}}</td>
            <td>{{data.userName}}</td>
            <td>{{data.role}}</td>
        </tr>
    </ng-template>
</p-table>
<app-create-user [visible]="isDialogVisible" (visibleChange)="isDialogVisibleChange($event)"></app-create-user>