<div class="row" style="height: 94%;">
    <div class="leftpanel col-4">
        <div class="row">
            <!-- <div class="col-10" style="padding-right: 0px;">
                <div class="header_icon">
                    <span style="bottom: 1px;">Nhóm</span>
                </div>
            </div>
            <hr style="margin: 0px; background-color: black;"> -->
            <button class="transparent_button">Click me!</button>
        </div>
        <div class="teamrow row">
            <div class="col-sm-2">
                <!-- <img src="" alt=""> -->
            </div>
            <div class="col-sm-8" style="margin-top: 20px;">

            </div>
        </div>
    </div>
    <div class="rightpanel col-8">
        <app-create></app-create>
    </div>
</div>