<p-dialog [dismissableMask]="true" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="onHide(false)">
    <ng-template pTemplate="header">
        <h1>
            Tạo nhóm
        </h1>
    </ng-template>
        <div>
            <label for="team" style="font-size: 15pt; padding-bottom: 12px;">Tên nhóm</label>
            <br>
            <mat-form-field class="example-full-width" style="width: 100%; font-size: 12pt">
                <input matInput placeholder="Hãy cho nhóm của bạn cái tên">
            </mat-form-field>
        </div>
        <div>
            <label for="profile" style="font-size: 12pt; padding-bottom: 10px;">Ảnh đại diện</label>
            <br>
            <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png" [multiple]="false">
                <ngx-dropzone-label>Ảnh nhóm</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>
                    <img [src]="imageSrc || 'http://placehold.it/180'" width="120" height="120">
                  </ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
        </div>
        <div>
            <label for="description" style="padding-bottom: 15px; margin-top: 10px">Chú thích</label>
            <br>
            <mat-form-field class="example-full-width" style="width: 100%;">
                <textarea matInput placeholder="Cho mọi người biết nhóm này về gì"></textarea>
            </mat-form-field>
        </div>
    <ng-template pTemplate="footer">
        <p-button label="Tạo"></p-button>
    </ng-template>
</p-dialog>