.container {
    background: white;
}

.container-add {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: white;
}

.container-row {
    padding-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 3%;
}

.app-tag {
    display: inline-block;
    font-size: 75%;
    padding: .25em .4em;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25rem;
    margin-right: .25em;
    margin-bottom: .25em;
    cursor: pointer;
    transition: opacity .3s;
    text-align: center;
    opacity: .85;
    color: #333;
  
    &:hover {
      opacity: 1;
    }
  
    &::after {
      display: 'block';
      content: '×';
      padding-left: .4em;
      opacity: .5;
      transition: opacity .3s;
    }
  
    &:hover::after {
      opacity: 1;
    }
  }
