<div [@routerTransition]>
    <div class="container" style="border-radius: 25px;">
        <form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
        <div class="modal-body">
            <div class="container-add" style="border-radius: 25px;">
            <div class="container-row">
                <div class="row" style="padding-bottom: 25px">
                <div class="col">
                    <div class="row">
                    <div class="col required">
                        <label for="name" style="font-size: 13pt;">
                        {{ "Tên cửa hàng" }}
                        </label>
                        <span style="color: red; margin-left: 5px; font-size: 14pt"
                        >*</span
                        >
                    </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                    <div class="col">
                        <input
                        type="text"
                        class="form-control"
                        name="storeName"
                        id="storeName"
                        required
                        maxlength="32"
                        />
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                    <div class="col">
                        <label for="name" style="font-size: 13pt;">
                        {{ "Địa chỉ" }}
                        </label>
                        <span style="color: red; margin-left: 5px; font-size: 14pt"
                        >*</span
                        >
                    </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                    <div class="col">
                        <input
                        type="text"
                        class="form-control"
                        name="address"
                        id="address"
                        required
                        maxlength="50"
                        />
                    </div>
                    </div>
                </div>
                </div>           
                <div class="row" style="padding-bottom: 25px">
                <div class="col">
                    <div class="row">
                    <div class="col required">
                        <label for="name" style="font-size: 13pt;">
                        {{ "Tags" }}
                        </label>
                        <span style="color: red; margin-left: 5px; font-size: 14pt"
                        >*</span
                        >
                    </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div [@deleteAnimation]="deleteState"
                            (@deleteAnimation.done)="onDeleteAnimationDone($event, tag)"
                            class="app-tag"
                            (click)="onTagClicked()">{{tag.name}}</div>
                    </div>
                </div>
                </div>
                <div class="row" style="padding-bottom: 25px">
                    <div class="col">
                        <div class="row">
                        <div class="col">
                            <label for="name" style="font-size: 13pt; margin-bottom: 12px">
                            {{ "Items:" }}
                            </label>
                            <p-button [style]="{'margin-left': '15px'}" label="Tạo" 
                            [loading]="loading" (onClick)="addLesson()"></p-button>
                        </div>
                        </div>
                        <div
                        class="row"
                        style="margin-top: 15px">
                        <div class="col">
                            <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
                                    <div [@routerTransition] class="lesson-form-row" [formGroup]="lessonForm">
                                        <mat-form-field appearance="fill">
                                            <input matInput
                                                    formControlName="title"
                                                    placeholder="Lesson title">
                                        </mat-form-field>
                                        <mat-form-field appearance="fill">
                                            <input matInput
                                                    formControlName="title"
                                                    placeholder="Amount">
                                        </mat-form-field>
                                        <button
                                            type="button"
                                            class="btn bg-danger mx-2"
                                            (click)="deleteLesson(i)"
                                            >
                                            <i class="pi pi-trash" style="color: white;"></i>
                                        </button>
                                    </div>
                            </ng-container>
                        </div>
                        </div>
                    </div>
                    </div>
                    <app-modal-footer
                    [cancelDisabled]="saving"
                    [saveDisabled]="checkFormValid() || saving"
                    (onCancelClick)="Cancel()"
                    ></app-modal-footer>
            </div>
            </div>
        </div>
        </form>
    </div> 
</div>
<app-tag [visible]="isDialogVisible" (visibleChange)="isDialogVisibleChange($event)"></app-tag>
