<div class="header_icon">
    <span style="position: relative; bottom: 1px;">TÀI CHÍNH</span>
</div>
<div class="menu_card" [routerLink]="['/']">
    <div *ngIf="getCurrentUrl() === 'Home'" class="back_ground"></div>
    <ng-template [ngIf]="getCurrentUrl() === 'Home'" [ngIfElse]="blue1">
        <i class="pi pi-home button_icon" style="color: #57AE53;"></i>
        <br>
        <span class="button_text" style="color: #57AE53;">Dashboard</span>
    </ng-template>
    
    <ng-template #blue1>
        <i class="pi pi-home button_icon" ></i>
        <br>
        <span class="button_text">Dashboard</span>
    </ng-template>
</div>
<div class="menu_card" [routerLink]="['/app/chats']">
    <div *ngIf="getCurrentUrl() === 'Đoạn chat'" class="back_ground"></div>
    <div class="icon_text">
        <ng-template [ngIf]="getCurrentUrl() === 'Đoạn chat'" [ngIfElse]="blue4">
            <i class="pi pi-comment button_icon" style="color: #57AE53;"></i>
            <br>
            <span class="button_text" style="color: #57AE53;">Đoạn chat</span>
        </ng-template>
        
        <ng-template #blue4>
            <i class="pi pi-comment button_icon"></i>
            <br>
            <span class="button_text">Doạn chat</span>
        </ng-template>
    </div>
</div>
<div class="menu_card" [routerLink]="['/app/teams']">
    <div *ngIf="getCurrentUrl() === 'Nhóm'" class="back_ground"></div>
    <div class="icon_text">
        <ng-template [ngIf]="getCurrentUrl() === 'Nhóm'" [ngIfElse]="blue3">
            <i class="pi pi-building button_icon" style="color: #57AE53;"></i>
            <br>
            <span class="button_text" style="color: #57AE53;">Nhóm</span>
        </ng-template>
        
        <ng-template #blue3>
            <i class="pi pi-building button_icon"></i>
            <br>
            <span class="button_text">Nhóm</span>
        </ng-template>
    </div>
</div>
<div class="menu_card" [routerLink]="['/app/user']">
    <div *ngIf="getCurrentUrl() === 'Người dùng'" class="back_ground"></div>
    <div class="icon_text">
        <ng-template [ngIf]="getCurrentUrl() === 'Người dùng'" [ngIfElse]="blue2">
            <i class="pi pi-users button_icon" style="color: #57AE53;"></i>
            <br>
            <span class="button_text" style="color: #57AE53;">Người dùng</span>
        </ng-template>
        
        <ng-template #blue2>
            <i class="pi pi-users button_icon"></i>
            <br>
            <span class="button_text">Người dùng</span>
        </ng-template>
    </div>
</div>
<div class="menu_card" (click)="logout($event)">
    <div class="icon_text">
        <i class="pi pi-sign-out button_icon"></i>
        <br>
        <span class="button_text">Đăng xuất</span>
    </div>
</div>
<p-confirmDialog></p-confirmDialog>