.header_icon {
    padding: 40px 15px 40px 15px;
    color: black;
    font-size: 15pt;
}

.menu_card {
    /* top: 20px; */
    /* position: relative; */
    margin: 10px 0px 0px 0px;
    padding: 0px 20px 15px 0px;
    text-align: center;
    cursor: pointer;
    color: black;
}

.menu_card:hover {
    background: lightgray;
}

.button_text {
    position: relative; 
    left: 8px;
    top: 10px;
    font-size: 10pt;
}

.button_icon {
    position: relative; 
    left: 8px;
    top: 10px;
    font-size: 25pt;
}

.back_ground {
    background: #57AE53;
    position: absolute;
    height: 73px;
    width: 5px;
}
