<div class="container" style="margin-top: 12%">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Đăng nhập</h5>
          <form>
            <span class="p-float-label" style="margin-bottom: 25px;">
              <input pInputText class="p-inputtext-lg" id="username" [(ngModel)]="emailOrUsername" [ngModelOptions]="{standalone: true}" [style]="{'width': '100%'}"/>
              <label for="username">Email hoặc Tên đăng nhập</label>
            </span>
            <span class="p-float-label" style="margin-bottom: 20px;">
                <p-password 
                id="password" 
                class="p-inputtext-lg"
                [(ngModel)]="password" 
                [feedback]="false" 
                [toggleMask]="true"
                [ngModelOptions]="{standalone: true}"
                [inputStyle]="{'width': '100%'}"
                [style]="{'width': '100%'}"
              ></p-password>
              <label for="password">Mật khẩu</label>
            </span>

            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" [disabled]="!isFormValid() || loading" (click)="loginFn()" type="submit">
                  <div [hidden]="!loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </div>  
                  <span [hidden]="loading">Đăng nhập</span>                
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>
  </div>
</div>

<!-- <form method="post" class="container" style="margin-top: 15%">
  <label for="uname"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="uname" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <button type="submit" class="btn">Login</button>
</form> -->